#todoapp {
  margin: 40px 40px;
}

.app-title {
  color: #666;
  text-shadow: 1px 1px 1px #999;
}

.summary {
  margin: 8px 0;
}

.todo {
  margin: 4px 0;
}

.delete-button {
  cursor: pointer;
}

.new-todo {
  margin: 8px 0;
}
